.beg-login-box {
	width: 450px;
	height: 300px;
	margin: 10% auto;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
}

.beg-login-bg{
	overflow-x:hidden;
	overflow-y:hidden;
	background:url(/images/bg.png)  no-repeat center center;
	background-size:cover;
	background-attachment:fixed;
}

.beg-top-title{
	line-height: 200px;
	text-align: center;
	height: 200px;
	weight:500px;
	margin-top:100px;
	font-size: 72px;
	font-family: "Aa新华墨竹体 (非商业使用)", serif;
	background-color: rgba(255, 255, 255, 0.7);

}

.code{
/*验证码样式*/
	font-family: "Aa新华墨竹体 (非商业使用)";
	font-style: italic;
	color: rgb(255, 255, 255,0.7);
	font-size: 35px;
	border: 0;
	margin-left: 55px;
	margin-bottom: 10px;
	/* padding:2px 3px; */
	letter-spacing: 3px;
	font-weight: bolder;
	float: left;
	cursor: pointer;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	/* vertical-align:middle; */
	background-color: gray;
}


.form-login-button{
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}




.beg-login-box header {
	height: 39px;
	padding: 10px;
	border-bottom: 1px solid aliceblue;
}

.beg-login-box header h1 {
	text-align: center;
	font-size: 25px;
	line-height: 40px;
}

.beg-login-box .beg-login-main {
	height: 185px;
	padding: 30px 90px 0;
}

.beg-login-main .layui-form-item {
	position: relative;
}

.beg-login-main .layui-form-item .beg-login-icon {
	position: absolute;
	color: #000000;
	top: 10px;
	left: 10px;
}

.beg-login-main .layui-form-item input {
	padding-left: 34px;
}

.beg-login-box footer {
	height: 35px;
	padding: 20px 20px 0 20px;
}

.beg-login-box footer p {
	line-height: 40px;
	text-align: center;
	font-size: 25px;
}

.beg-pull-left {
	float: left !important;
}

.beg-pull-right {
	float: right !important;
}

.beg-clear {
	clear: both;
}

.beg-login-remember {
	line-height: 38px;
}

.beg-login-remember .layui-form-switch {
	margin-top: 0px;
}

.beg-login-code-box {
	position: relative;
	padding: 10px;
}

.beg-login-code-box input {
	position: absolute;
	width: 100px;
}

.beg-login-code-box img {
	cursor: pointer;
	position: absolute;
	left: 115px;
	height: 38px;
}
